/ServerProgramming/Project/IOCPGameServer/x64
/ServerProgramming/Project/IOCPGameServer/.vs
/ServerProgramming/Project/Simple2DClient/packages
/ServerProgramming/Project/Simple2DClient/.vs
/ServerProgramming/Project/Simple2DClient/x64